{% extends "main.html" %}
{% block content %}

<h1>Login</h1>

<p style="color:red">{{error}}</p>
<form method="post" class="form-horizontal" action="#">

  <div class="username form-group">
    <label for="username" class="col-sm-2 control-label">username:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="username" name="username" value="{{username}}">
    </div>
  </div>

  <div class="password form-group">
    <label for="password" class="col-sm-2 control-label">password:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="password" name="password" value="{{password}}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>

</form>

<div class="col-sm-offset-2 col-sm-3">
  <p>Need an account? <a href="/signup">Sign Up</a></p>
</div>

{% endblock %}
