{% extends "main.html" %}
{% block content %}

<h1>Login</h1>

<p style="color:red">{{error}}</p>
<form method="post">

  <div class="username">
    <label for="username">username:</label>
    <input type="text" id="username" name="username" value="{{username}}">
  </div>

  <div class="password">
    <label for="password">password:</label>
    <input type="text" id="password" name="password" value="{{password}}">
  </div>

  <button type="submit">Submit</button>

</form>

<p>Need an account? <a href="/signup">Sign Up</a></p>

{% endblock %}
