{% extends "main.html" %}
{% block content %}

  <a href="/newpost" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> New Post</a>
  <a href="/" class="btn btn-default">Post Index</a>

  <hr>

  <p style="color:red">{{error}}</p>
  <div class="post">
    <h2 class="post-subject">{{post.subject}}</h2>
    <p class="post-body">{{post.content}}</p>
    {% if post.like_count %}
      <p>likes: {{post.like_count}}</p>
    {% endif %}

    <a href="/{{post.key.id()}}/edit" class="btn btn-sm btn-default">Edit</a>
    <a href="/{{post.key.id()}}/delete" class="btn btn-sm btn-danger">Delete</a>
    <a href="/{{post.key.id()}}/like" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>

    <hr>

    <form method="post" action="/{{post.key.id()}}/comment" class="comment-form form-horizontal">
      <div class="comment-content form-group">
        <label for="content" class="col-sm-1 control-label">Comment</label>
        <div class="col-sm-11">
          <textarea name="content" class="form-control" rows="2"></textarea>
        </div>
      </div>
      <div class="form-group ">
        <div class="col-sm-offset-1 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>

    {% if post.comments %}
      <h2>Comments</h2>
      {% for comment in post.comments %}
        <div class="comment panel panel-default">
          <div class="panel-body">
            {{comment.content}}
          </div>
          <div class="panel-footer">
            Author: {{comment.author}} | Created: {{comment.created.strftime('%m-%d-%Y %-I:%M:%S %p')}}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}
